# dependencies
node_modules

# testing
**/__tests__
coverage
.coverage

# development
.git
**/.gitignore
**/.gitattributes
*.env*
!.env.example
docker-compose*
*.local

# production
build
dist

# misc
**/*.DS_Store
.tmp
.cache

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

